<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
     <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no'  name='viewport'  /> 
     <meta name="description" content="Chetu provides custom web application development services, Durchsuchen Sie alle Web Entwickler,Respsonsive,Belal Sukari ,excited to implement small and large projects, with the latest technologies and designs that make your website and your brand distinctive. I welcome to work with a professional team to share experiences, I strive to constantly learn and gain experiences that make me the best,Html css js jquery node.js nodejs mysql react React Bootstrap . Suchen Sie mit einem Standort oder einer Branche,Here is a web developer webentwickler  ">
     <meta name="keywords" content="Development Services, Web Entwickler ,Belal Sukari Web Entwickler Karrieremöglichkeiten,webdesign agentur in hamburg web design webdesign aus hamburg, Web Entwickler Karrieren,We design websites that work on all devices,Smart design,excited to implement small and large projects,Web Development, right place, Web Entwickler projects,small car that contained a camera,Classified ads, Web Entwickler Arbeit, Web Entwickler Beschäftigungsmöglichkeiten, distinguished web developer">
     
    
     <meta name="SL.domain" content="https://sukari-my-profile.herokuapp.com/">
     <meta name="belal sukari" content=" Designing websites" />
     <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="geo.placename" content="Hamburg">
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="canonical" href="https://sukari-my-profile.herokuapp.com/" />
    
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" /> 
    

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/css/material-kit.css?v=2.0.7" />
     <link rel="stylesheet" href="/css/demo.css" />  
     <link rel="stylesheet" href="/css/index.css">
    
    
    <title> Porfile Belal Sukari </title>     
</head>
<body class="profile-page sidebar-collapse">
    <!--Top Menu-->  
    <nav  class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg col-12" color-on-scroll="100" id="sectionsNav">
        <div class="container" >
            <a class="navbar-brand" href="#">Belal Sukari</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="nav ml-auto justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Me</a>
                  </li>
                </ul>
                
              </div>
            </div>
        </div>
    </nav>


  <!--home-->

   
  <div class="page-header col-12 backgrund-1" data-parallax="true" style="background-image: url('/img/templit-b.png') ; background-size: 1350px 400px ;"  >
        <div class="container" id="welcome-section" >
          <div class="row" >
            <div class="col-6 " >
              <div class="brand-1  an" >      
                <div class=' chrome mt-4' id="home">
                
                  Designing websites    
               
                </div>
                <h3 class="prgr prg ">If you are looking for a distinguished web developer?
                  <br>
                  Then you are in the right place.
                </h3>
              </div>
            </div>
            
          </div>
          
        </div>
  </div>        
          
<!---->
<div class="main main-raised">
    <div class="profile-content" >
      <div class="container">
        <!--about-->
        <div class="row">
        <div class="col-md-6 ml-auto mr-auto" id="about">
            <div class="profile">
              <div class="avatar">
                <img src="/img/belal-new-remov.png" alt="Web developer Webentwickler belal sukari Best web developer in Hamburg" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Belal Sukari</h3>
                <h4>Web Development</h4>
                <h4 class="pb-5"><span class="material-icons mr-2">
                  school
                  </span> Student, Web Development, DCI-digital Career Institute</h4>
                
              </div>
            </div>
        </div>
        </div>
        <div class="description text-center" >
          <p>I am excited to implement small and large projects,  
             with the latest technologies and designs  that make your website and your brand distinctive. 
             I welcome to work with a professional team to share experiences,
             I strive to constantly learn and gain experiences that make me the best
            </p>
        </div>
        <h3 class="title text-center">Skills</h3>

        <div id="images col-12">
					<div class="row  ">
					
						<div class="col-6 col-sm-2 ">
							<img class="img-fluid col-10 ml-3 " src="img/html5-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-2 ml-auto">
							<img class="w-d img-fluid col-9 ml-3" src="img/css-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-2 ml-auto">
							<img class="img-fluid col-9 ml-3" src="img/scss-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-2 ml-auto">
							<img class="img-fluid col-9 ml-3" src="img/Javascript-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-3 ml-auto">
							<img class="img-fluid col-10 col-md-8 ml-3 mt-2" src="img/jquery-removebg-preview.png" alt=""/>
						</div>
						
						<div class="col-6 col-sm-2 mt-3">
							<img class="img-fluid col-9 ml-3" src="img/node-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-2 ml-auto mt-3">
							<img class="w-d img-fluid col-9 ml-3" src="img/mongo-db-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-2 ml-auto mt-3">
							<img class="w-d img-fluid col-10 col-md-12 ml-3 mt-3" src="img/mysql-removebg-preview.png" alt=""/>
						</div>
						<div class="col-6 col-sm-2 ml-auto mt-3">
							<img class="w-d img-fluid col-9 ml-3 " src="img/react-removebg-preview.png" alt=""/>
						</div>
						
						<div class="col-6 col-sm-3 ml-auto mt-3">
							<img class="w-d img-fluid col-12 col-md-10 ml-3 mt-4" src="img/bootsrap-removebg-preview.png" alt=""/>
						</div>
						

					</div>
				</div>	
        <div class="section-components">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-12">
                <h3 class="title">Smart design
                  </h3><h4 class="description">We design websites that work on all devices</h4>
                  <h5 class="description">In addition to the animations that attract the visitor
                     to your site and give a good impression of your company and your brand.
                     I am ready to manage your website and add all updates that keep your website 
                     always shining
                  </h5>
              </div>

               <div class="col-lg-6 col-12 ml-auto">
                <div class="image-container">
                  <div class=""> 
                    
                    <img  class="components-macbook" src="./img/lap-removebg-preview.png" alt="Smart design design websites animation responsiv webentwickler in Hamburg"/>
                    <img  class="img-lap" src="./img/Screenshot (29).png" alt="The best websites in Hamburg"/>
                  </div> 
                  <div class='table-img bod col-4'>
                    <div class="mobile-wrap">
                      <div class="mobile clearfix">
                        <div class="header">
                          <span class="ion-ios-navicon pull-left"><i></i></span>
                          <span class="title">Home</span>
                          <span class="ion-ios-search pull-right"></span>
                          <div class="search">
                          <form method="post">
                            <input type="search" placeholder="Search Here"/>
                          </form>
                          </div>
                        </div>
                        <div class="sidebar">
                          <div class="sidebar-overlay"></div>
                          <div class="sidebar-content">
                            <div class="top-head">
                              <div class="name">Belal Sukari</div>
                              
                            </div>
                            <div class="nav-left">
                              <a href="#home"><span class="ion-ios-home-outline"></span> Home</a>
                              
                              <a href="#profile"><span class="ion-ios-person-outline"></span> About</a>
                              <a href="#settings"><span class="ion-ios-gear-outline"></span> contact</a>
                              
                            </div>
                          </div>
                        </div>
                        <div class="content cont">
                          <div class="html search">
                            <div class="title bounceInDown animated">Search Result</div>
                            <p class="flipInX animated">Sorry,<br/>no matches found for <b class="key"></b></p>
                          </div>
                          <div class="html welcome visible">
                            <div class="datetime">
                              <div class="day lightSpeedIn animated">Thursday</div>
                              <div class="date lightSpeedIn animated">June 18, 2015</div>
                              <div class="time lightSpeedIn animated">08:00 AM</div>
                            </div>
                          </div> 
                          
                        
                          
                           <div class="html mob-mr settings">
                            <div class="setting-list">
                              <form  class="contact-form col-12  " name="contact" id="contact-1" novalidate  >
                                <div class="form-row">
                                  <div id="txtHint-1" class="text-center  text-white col-12"></div>
                                  <div class="col-md-12">
                                   
                                    <div class="mt-4 ">
                                      <label for="validationServer01-1" class=" fo-mo">Your Name</label>
                                      <input id="validationServer01-1" type="text" class=" form-control fmm" required>
                                      <div id="invalid-1-1" class="">
                                       
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="">
                                      <label for="validationServer02-1" class="fo-mo">Your Email</label>
                                      <input id="validationServer02-1" type="email" class="form-control fmm" required>
                                      <div id="invalid-1-2" class="">
                                       
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="">
                                  <label for="exampleMessage-1" class="fo-mo">Your Message</label>
                                  <textarea type="text" class="form-control fo-mo" rows="4" id="exampleMessage-1" ></textarea>
                                  <div id="invalid-2-1" class="">
                                       
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-md-12 ml-auto mr-auto text-center">
                                    <button class="btn-1 btn-primary btn-raised fo-mo" type="submit">
                                      Send Message
                                    </button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="html profile profile-1 ">
                            <div class="photo flipInX animated">
                              <img class="img-p" src="/img/belal-new.png"/>
                             
                            </div>
                            <div class="details">
                              <p class="heading flipInY animated">
                                <span class="name">Belal Sukari</span><span class="position">Web Desiger</span>
                              </p>
                              <p class="text fadeInUp animated">I am excited to implement small and large projects,  
                                with the latest technologies and designs  that make your website and your brand distinctive. 
                                I welcome to work with a professional team to share experiences,
                                I strive to constantly learn and gain experiences that make me the best</p>
                            </div>
                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                  </div>
                   <!-- <img class="share-btn-img" src="./img/nobile.webp" alt=""/>   -->
                   <!-- <img class="coloured-card-btn-img" src="./assets/img/section-components/coloured-card-with-btn.jpg" alt=""/>  -->
                   <img class="coloured-card-img" src="./img/mob-r.png" alt="Smart design design websites animation responsiv"/> 
                   <!-- <img class="social-img" src="./assets/img/section-components/social-row.jpg" alt=""/>
                  <img class="pin-btn-img" src="./assets/img/section-components/pin-btn.jpg" alt=""/>  -->
               </div>
            </div> 

            

          </div>
        </div>
        </div>

        <!-- My projects -->
      <h3 class="title text-center " id="projects">My projects</h3>
      <h4 class="text-center ">Some of the projects that I created while studying at DCI-digital Career Institute</h4>
        <div class="container">  
          <div class="row "> 
            <!-- card-1 -->
            <div class="card card-blog col-12 col-md-5">
              <div class="card-header card-header-image">
                  <a href="https://bogyrobot.coding-school.org" target='_blank' >
                      <img class="img" src="/img/Screenshot (8).png " alt='car robot node.js react The best websites'>
                  </a>
              </div>
            <div class="card-body">
                <div class="card-title font-contact ">
                  Project React
              </div>
                  <p class="card-description "> 
                    <span class="font-weight-bold ">Car Robot</span>
                    Two of my colleagues and I created a small car that contained a camera that reported events in real time
                  </p>
                  <a  href="https://bogyrobot.coding-school.org" target='_blank'>
                    <h6 class=" font-contact ">https://bogyrobot.coding-school.org</h6></a> 
            </div>
            </div>
            <!-- card-2 -->
            <div class="card card-blog col-12 col-md-5">
              <div class="card-header card-header-image">
                  <a href="https://kleinanzeige.herokuapp.com/" target='_blank' >
                      <img class="img" src="/img/Screenshot (11).png" alt='kleinanzeige web design Latest websites'>
                  </a>
              </div>
              <div class="card-body">
                <div class="card-title font-contact">
                Project  Node.js
              </div> 
                  <p class="card-description ">
                    <span class="font-weight-bold ">Classified ads</span> This is a free services site to market your ads or search for your interests
                  </p>
                  <a  href="https://kleinanzeige.herokuapp.com/" target='_blank'>
                    <h6 class=" font-contact">https://kleinanzeige.herokuapp.com</h6></a>    
              </div>
            </div>
            <!-- card-3 -->
            <div class="card card-blog col-12 col-md-5">
              <div class="card-header card-header-image">
                  <a href="https://belalsukri.github.io/project-hamburg-js/" target='_blank' >
                      <img class="img" src="/img/Screenshot (18).png">
                  </a>
              </div>
              <div class="card-body">
                <div class="card-title font-contact">
                Project  Javascript
              </div>
                  <p class="card-description ">
                    <span class="font-weight-bold t">Willcomen in Hamburg</span> This project is about the best tourist places in the city of Hamburg and the latest news of its creation by HTML CSS Javascript
                  </p>
                  <a  href="https://belalsukri.github.io/project-hamburg-js/" target='_blank'>
                    <h6 class=" font-contact">https://hamburg-project.herokuapp.com/ </h6></a>
              </div>
            </div>
            <!-- card-4 -->
            <div class="card card-blog col-12 col-md-5">
              <div class="card-header card-header-image">
                  <a href="https://belalsukri.github.io/project-HTML-CSS/" target='_blank' >
                      <img class="img" src="/img/Screenshot (23).png" alt="Html css">
                  </a>
              </div>
              <div class="card-body">
                <div class="card-title font-contact">
                Project  HTML CSS
              </div>
                  <p class="card-description ">
                    <span class="font-weight-bold ">Module Register</span> This project is form register with background slider with progress bar. Use only HTML Css Sass
                  </p>
                  <a  href="https://belalsukri.github.io/project-HTML-CSS/" target='_blank'>
                    <h6 class=" font-contact">https://belalsukri.github.io/project-HTML-CSS </h6></a>
              </div>
            </div>
            <!-- indet card -->
            
          </div>
        </div>
          <!-- /////////////// -->
        
          

        <!-- contact_me -->

        <div class="section section-contacts mb-5 " id="contact_me">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto"> 
                <h2 class="text-center title ml-auto mr-auto text-center font-contact">Contact Us</h2>
                <h4 class="text-center description ">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
              </div>
            
   
              
              <form  class="contact-form col-7 mr-5 ml-auto needs-validation" name="contact" id="contact" novalidate  >
                <div class="form-row">
                  <div id="txtHint" class="text-center mt-4 mb-4 p-4 text-white col-12"></div>
                  <div class="col-md-6">
                   
                    <div class="form-group font-contact">
                      <label for="validationServer01" class="bmd-label-floating font-contact">Your Name</label>
                      <input id="validationServer01" type="text" class=" form-control" required>
                      <div id="invalid" class="">
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group font-contact">
                      <label for="validationServer02" class="bmd-label-floating font-contact">Your Email</label>
                      <input id="validationServer02" type="email" class="form-control" required>
                      <div id="invalid-1" class="">
                       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group font-contact">
                  <label for="exampleMessage" class="bmd-label-floating font-contact">Your Message</label>
                  <textarea type="text" class="form-control" rows="4" id="exampleMessage" ></textarea>
                  <div id="invalid-2" class="">
                       
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-4 ml-auto mr-auto text-center">
                    <button class="btn btn-primary btn-raised" type="submit">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
              <div class="col-md-3 icone text-center ml-5">
                <ul class="list-unstyled mb-0 ">
                    <li class='hof'><i class="fas fa-map-marker-alt fa-2x  list-inline  "> </i>
                        <p class=' '>Friedrich-Frank-Bogen 44</p>
                        <p class=' '>hamburg  21033</p>
                    </li>
        
                    <li  class='hof'><i class="fas fa-phone mt-4 fa-2x  list-inline  "></i>
                        <p class=' hof'> 01 629 664 219</p>
                    </li>
        
                    <li  class='hof'><i class="fas fa-envelope mt-4 fa-2x  list-inline "></i>
                        <p class=' hof'>belalsukari@gmail.com</p>
                    </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
   
    
</div>
<div class="" id="scbtn">  
  <ul>
    <li><a id="profile-link" href="https://github.com/Belalsukri" target='_blank'><i class="fa fa-github"></i></a></li>
    <li><a id="profile-link" href="https://www.linkedin.com/in/belal-sukari/"  target='_blank'><i class="fa fa-linkedin" ></i></a></li>
    <li><a id="profile-link" href="https://www.xing.com/profile/Belal_Sukari/cv"  target='_blank'><i class="fa fa-xing"  ></i></a></li>
    <li><a id="profile-link" href="https://www.facebook.com/ibelal.sukar"  target='_blank'><i class="fa fa-facebook-f"  ></i></a></li>
  </ul> 
</div>     
      <div class="fotr "> Belal Sukari © Web Design 2020. All Rights Reserved</div>
</div>
<script
  src="https://code.jquery.com/jquery-migrate-3.3.2.js"
  integrity="sha256-BDmtN+79VRrkfamzD16UnAoJP8zMitAz093tvZATdiE="
  crossorigin="anonymous"></script>
<script src="/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/js/core/popper.min.js" type="text/javascript"></script>
<script src="/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
<script src="/js/material-kit.js" type="text/javascript"></script>
  <script src="/js/material-kit.js.map" type="text/javascript"></script>
  <script src="/js/material-kit.min.js" type="text/javascript"></script>


<script src="/js/index.js"></script>
<script>
  $(document).ready(function() {
    //init DateTimePickers
    materialKit.initFormExtendedDatetimepickers();

    // Sliders Init
    materialKit.initSliders();
  });


  function scrollToDownload() {
    if ($('.section-download').length != 0) {
      $("html, body").animate({
        scrollTop: $('.section-download').offset().top
      }, 1000);
    }
  }

 $('form').on('submit',(e)=>{
e.preventDefault()
const name =$('#validationServer01').val().trim();
const email =$('#validationServer02').val().trim();
const message =$('#exampleMessage').val().trim();

if (name.value==="" || email.value==="" || message.value==="") {
  const texts = document.querySelector("#txtHint")
  texts.classList.add("bg-danger");
  texts.innerHTML = 'form should not be empty';

}else{
  const data ={
  name,
  email,
  message
}
$.post('/send',data, function (e) {
  if ( e == 1) {
   
    const texts=  document.getElementById("txtHint")
    texts.classList.remove("bg-danger");
    texts.classList.add("bg-success");    
    texts.innerHTML = 'Your message was sent successfully';  
    return false;
    }else{
      alert('Unfortunately there is something wrong. Please send messages via e-mail belalsukari@gmail.com')
    }
})
}


 }) 
 
  // &&&&&&&&&&& nameInput  &&&&&&&&&&
 const nameInput = document.querySelector("#validationServer01");
 
 nameInput.addEventListener("blur",(e)=>{
  
    if (nameInput.value==="" ) {
const textName=  document.querySelector("#invalid")
textName.classList.add("text-danger");
textName.innerHTML = 'Name should not be empty';
}else{
  const textName=  document.querySelector("#invalid")
  textName.classList.remove("text-danger");
  textName.classList.add("text-success");
textName.innerHTML = 'Success';
}
  })

  // &&&&&&&&&&& emailInput  &&&&&&&&&&
  const emailInput = document.querySelector("#validationServer02");

 emailInput.addEventListener("blur",(e)=>{
   
    if (emailInput.value==="" ) {
const textEmail=  document.querySelector("#invalid-1")
textEmail.classList.add("text-danger");
textEmail.innerHTML = 'Name should not be empty';
}else{
  const textEmail=  document.querySelector("#invalid-1")
  textEmail.classList.remove("text-danger");
  textEmail.classList.add("text-success");
  textEmail.innerHTML = 'Success';
}
  })
   // &&&&&&&&&&& messageInput  &&&&&&&&&&
  const messageInput = document.querySelector("#exampleMessage");
 
 messageInput.addEventListener("blur",(e)=>{  
    if (messageInput.value==="" ) {
const textMessage=  document.querySelector("#invalid-2")
textMessage.classList.add("text-danger");
textMessage.innerHTML = 'Name should not be empty';
}else{
  const textMessage=  document.querySelector("#invalid-2")
  textMessage.classList.remove("text-danger");
  textMessage.classList.add("text-success");
  textMessage.innerHTML = 'Success';
}
  })
</script>

</body>
</html>