
  
  
  
  .d {
    text-align: center;
    padding: 65px;  
    }
  
  #welcome-section {  
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, 25%);
     
          }
  
    .prgr {
        font-size: 1.5em;
    }       
  
  /*social buttons*/
  
  #scbtn ul {
    display: flex;
    margin:0 40%;
      
     
    }
  
  #scbtn ul li {
      list-style: none;
      color: #0f0f0f;
      }
  
  #scbtn ul li a {
      width: 50px;
      height: 50px;
      background: #f5f5f5;
      text-align: center;
      line-height: 44px;
      font-size: 25px;
      margin: 0 10px;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 3px solid #f5f5f5; 
      z-index: 1;
              }
  
  #scbtn ul li a .fa {
      position: relative;
      color: #5d4cca;
      transition: .5s;
  }
  
  #scbtn ul li a:hover .fa {
      color: #f5f5f5;
      transform: rotateY(180deg);
  }
  
  #scbtn ul li a:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background:#5e4dca;
      transition: .5s;
      z-index: 2;
      }
  
  #scbtn ul li a:hover:before {
      top: 0;
      }
      .chrome {
        position: relative;
        background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 4px #d8d9dc;
        font-size: 50px;
        font-family: 'Titillium Web', sans-serif;
        font-style: italic;
        margin: 0;
        line-height: 1;
      }
      
      .chrome:before {
        content: 'Designing websites';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background-image: -webkit-linear-gradient( -5deg,#8c8b9c 40%, #7c90bd 55%, #3f6dd8 82%, #214bdc8a 99%, #02f9e1e0 8%);
        background-position:-700px 0;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        padding-right: 109px;
        -webkit-animation-name: chrome_effect;
        -webkit-animation-duration: 6s;
        -webkit-animation-delay: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }
      
      @-webkit-keyframes chrome_effect {
        0% {background-position:-680px 0;}
        10% {background-position:420px 0;}
        100% {background-position:420px 0;}
      }
      .inf{
        padding: 8px 0px 0px 0px;
        background-color:rgb(53 54 70);
        color: rgb(181 179 208);
        border-left:solid 1px rgb(46 47 64 / 72%);
        
      }
      .info-1{
        padding: 20px 8px ;
        background-color: rgb(66 68 88);
        color: rgb(252, 252, 252);
        height: 250px;
        border-top:solid 3px rgb(40 41 60 / 65%);
        border-left:solid 1px rgb(46 47 64 / 72%);
        border-right:solid 1px rgb(46 47 64 / 72%);
        box-shadow: rgb(8 8 12) 3px 2px 3px;
        border-top-left-radius: 6% ;
          border-top-right-radius: 6%;
          
      }
      .info-1:hover{
        background-color: rgba(57, 59, 77, 0.918);
        
      }
      .icon-blue{
        color: blue;
        
      }
      .icon-box{
       padding: 5px;
        border-radius: 50%;
        background-color: #f9f8f8;
        box-shadow: #d6d0d08c 1px 2px 5px;
      }
      /* ////////////// */
      
      .cont{
        height: 300px;
      }
      
      .brand-1 {
        font-size: 16px;
        line-height: 18px;
        float: left;
      
        color: #fff;
        width: 550px;
        height: 40px;
        text-align: left;
      }
     
     
      .backgrund-1{
         background-image: url(/img/laptob-1.jpg);
         background-size: 100% 120%;
         background-repeat: no-repeat;
         background-position-x: center;
      }
      .backgrund-2{
        background-image: url(/public/img/laptob-1.jpg); 
        background-size: 100% 120%;
        background-repeat: no-repeat;
        background-position-x: center;
     }
      .hof{
        color:#5d4cca;
    }
    .hof:hover{
      color:#9c27b0;
    }
    .font-contact{
        color:#5d4cca;
    }
    .fotr{
        position: relative;
       top: 50px;
       margin-bottom: 70px;
       margin-left: 55px;
       color:rgb(177, 174, 174);
    }

           /* ///////////// mobile ///////////////////// */
    .bod {

      font: 300 12px/14px Roboto;
     
    }
    .bod:hover{
      transition: 0s;
      
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function:ease-in-out;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease-in-out;
      -webkit-animation-name: hov;
      -moz-animation-name: hov;
      margin: auto;
    }
    @-moz-keyframes hov {
      from {
        -moz-transform: translate(50px, 0px);
      }
    
      65% {
        -moz-transform: translate(0, 0);
      }
    
      to {
        -moz-transform: translate(50px, -0px);
      }
    }
    *,
    :after,
    :before {
      box-sizing: border-box;
      margin: 0%;
      padding: 0;
    }
    
    .clearfix:after,
    .clearfix:before {
      content: '';
      display: table
    }
    
    .clearfix:after {
      clear: both;
      display: block
    }
    .datetime{
      position: relative;
      bottom: 28px;
      text-align: center;
    
    }
    .img-lap{
      width: 345px;
      height: 200px;
      position: absolute ;
      left: 103px;
      top: 87px;
      border-radius: 1%;
      background-color: #1d1f3e4d;
    }
    .mobile-wrap {
      
    

      margin: auto;
      height: 260px;
      width: 190px;
      overflow: hidden;
      position: relative;
      /* border: #000002  solid 10px; */
      border-radius: 5%;
      background: url(/img/mob-1-removebg-preview.png) center no-repeat;
      background-size: 625px 273px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
      margin-right: 0px;
      border-right: 2px solid #767785 ;
      border-left: 2px solid#767785;
    }
    .mobile-wrap-1{
      /* background: url(/public/img/mob-1-removebg-preview.png) center no-repeat; */
      background: linear-gradient(to bottom, rgb(9 18 247 / 62%), rgb(226 26 211 / 67%));
      margin: auto;
      height: 260px;
      width: 190px;
      overflow: hidden;
      position: relative;
      
      /* border: #000002  solid 10px; */
      border-radius: 5%;
      background-size: 625px 273px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
      margin-right: 0px;
      border-right: 2px solid #767785 ;
      border-left: 2px solid#767785;
    }
    .mobile:hover{
      background-color: #1d1f3e4d;
    }
    .mobile-wrap:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: rgb(35 51 87 / 41%);
      /* background: linear-gradient(to bottom, rgb(9 18 247 / 62%), rgb(226 26 211 / 67%)) */
    }
    
    .mobile {
      z-index: 99;
      color: #fff;
      height: 100%;
      padding: 15px;
      position: relative
    }
    
    .mobile .header {
      clear: both;
      overflow: hidden;
      padding-top: 15px;
      position:relative
    }
    
    .mobile .header>span {
      font-size: 24px;
      min-width: 24px
    }
    
    .mobile .header>.title {
      font-size: 14px;
      color: white;
      margin-left: 10px;
      text-align: center;
    }
    
    .mobile .header .pull-left {
      float: left
    }
    
    .mobile .header .pull-right {
      float: right
    }
    .mobile .header .ion-ios-search{
      z-index:999;
      position:relative;
    }
    
    .mobile .header .ion-ios-arrow-back {
      min-width: 25px
    }
    
    .mobile .header .ion-ios-navicon>i {
      height: 1px;
      width: 20px;
      margin-top: 5px;
      background: #fff;
      position: relative;
      display: inline-block
    }
    
    .mobile .header .ion-ios-navicon>i:after,
    .mobile .header .ion-ios-navicon>i:before {
      content: '';
      width: inherit;
      height: inherit;
      position: absolute;
      background: inherit
    }
    
    .mobile .header .ion-ios-navicon>i:before {
      bottom: 12px
    }
    
    .mobile .header .ion-ios-navicon>i:after {
      bottom: 6px
    }
    .mobile .header .search{
      right:0;
      bottom:0;
      position:absolute;
    }
    .mobile .header .search input{
      width:0;
      color:#fff;
      height:24px;
      border:none;
      font-size:16px;
      max-width:150px;
      font-weight:300;
      padding-right:30px;
      font-family:inherit;
      background:transparent;
      transition:all .3s ease-in-out 0s;
      border-bottom:1px solid transparent;
      -webkit-appearance:textfield;
    }
    .mobile .header .search input:focus{
      outline:none;
    }
    .mobile .header .search input::-webkit-search-decoration,
    .mobile .header .search input::-webkit-search-cancel-button {
      -webkit-appearance:none;
    }
    .mobile .header .search .search-visible{
      width:100%;
      border-bottom-color:#aaa;
    }
    .nav-1 {
      right: 15px;
      z-index: 20;
      width: 45px;
      bottom: 15px;
      height: 45px;
      display: block;
      position: absolute;
      line-height: 45px;
      border-radius: 50%;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
    }
    
    .mask {
      z-index: 21;
      color: #fff;
      width: inherit;
      height: inherit;
      cursor: pointer;
      font-size: 28px;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      background: #f23363;
      transition: all .1s ease-in-out 0s
    }
    
    .nav-1.active .mask {
      background: #cf0e3f;
      transform: rotate(-135deg)
    }
    
    .nav-1:after {
      top: 0;
      left: 0;
      content: '';
      width: inherit;
      height: inherit;
      border-radius: 50%;
      position: absolute;
      background: #f23363;
      transition: all .1s ease-in-out 0s
    }
    
    .nav-1.active:after {
      top: -125px;
      left: -125px;
      width: 350px;
      height: 350px
    }
    
    .nav-item-1 {
      top: 0;
      left: 0;
      z-index: 19;
      width: 45px;
      height: 45px;
      color: #fff;
      font-size: 24px;
      transform: none;
      line-height: 45px;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      transition: all .3s cubic-bezier(.68, 1.55, .265, 1)
    }
    
    .nav-1.active .nav-count-1 {
      transform: translate(10px, -100px)
    }
    
    .nav-1.active .nav-count-2 {
      transform: translate(-35px, -80px)
    }
    
    .nav-1.active .nav-count-3 {
      transform: translate(-80px, -45px)
    }
    
    .nav-1.active .nav-count-4 {
      transform: translate(-100px, 0)
    }
    
    .pull-left {
      float: left
    }
    
    .pull-right {
      float: right
    }
    
    .html,
    .invisible {
      display: none
    }
    
    .html.visible,
    .visible {
      display: block
    }
    
    .sidebar .sidebar-content,
    .sidebar .sidebar-overlay {
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      transition: all .3s ease-in-out 0s
    }
    
    .sidebar .sidebar-overlay {
      right: 0;
      opacity: 0;
      width: 100%;
      z-index: 999;
      transform: scale(0);
      background: rgba(0, 0, 0, .4)
    }
    
    .sidebar .sidebar-content {
      width: 80%;
      color: #333;
      padding: 15px;
      z-index: 9999;
      background: #fff;
      transform: translateX(-100%)
    }
    
    .sidebar.active .sidebar-content {
      transform: translateX(0)
    }
    
    .sidebar.active .sidebar-overlay {
      opacity: 1;
      transform: scale(1)
    }
    
    .sidebar .sidebar-content .top-head .name {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 5px
    }
    
    .sidebar .sidebar-content .top-head .email {
      font-size: 13px;
      margin-bottom: 50px
    }
    
    .sidebar .sidebar-content .nav-left>a {
      color: #333;
      display: block;
      font-size: 16px;
      padding: 10px 0;
      line-height: 24px;
      vertical-align: top;
      text-decoration: none
    }
    
    .sidebar .sidebar-content .nav-left>a>span {
      color: #aaa;
      font-size: 24px;
      min-width: 40px;
      display: inline-block
    }
    
    
    
    .on-off {
      display: none
    }
    
    .on-off+label {
      width: 30px;
      height: 10px;
      position: relative;
      border-radius: 5px;
      background: #dedee0;
      display: inline-block;
      transition: all .3s ease-in-out 0s
    }
    
    .on-off+label:after {
      left: 0;
      top: -2px;
      width: 15px;
      content: '';
      height: 15px;
      position: absolute;
      border-radius: 50%;
      background: #bebdc2;
      transition: all .3s ease-in-out 0s
    }
    
    .on-off:checked+label {
      background: #fd99b3
    }
    
    .on-off:checked+label:after {
      left: 15px;
      background: #fb3666
    }
    
    .btn {
      color: #eee;
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 12px 24px;
      background: #cf0e3f;
      border-radius: 30px
    }
    .search .title{
      font-size:24px;
    }
    .search .title p{
      margin:0;
      font-size:16px;
      line-height:18px;
    }
    .welcome .datetime .date,
    .welcome .datetime .day {
      margin-bottom: 5px
    }
    
    .welcome .datetime .day {
      font-size: 14px;
      -webkit-animation-duration: .2s;
      animation-duration: .2s
    }
    .welcome .datetime .time {
      font-size: 18px;
     
    }
    .welcome .datetime .date {
      -webkit-animation-duration: .35s;
      animation-duration: .35s
    }
    
    .forecast {
      margin-top: 30px
    }
    
    .forecast .temperature {
      text-align: right
    }
    
    .forecast .datetime .day,
    .forecast .temperature .unit {
      font-size: 28px;
      min-height: 33px
    }
    
    .forecast .datetime .date,
    .forecast .temperature .location {
      color: #ccc;
      font-size: 12px
    }
    
    .forecast .temperature .unit>i {
      top: -2px;
      font-style: normal;
      position: relative
    }
    
    .forecast .animated {
      -webkit-animation-duration: .2s;
      animation-duration: .2s
    }
    
    
    
    .user-list .user {
      width: 30px;
      height: 30px;
      margin: 4px;
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #bbb
    }
    
    .user-list .user>img {
      width: 100%
    }
    .html.chats,
    .html.search,
    .html.welcome {
      margin-top: 50px
    }

    .profile-1 .photo  .img-p{
      transform: translate3d(0, -11%, 0)
    }
    .profile-1 {
 
    }
    
    .profile-1 .photo {
      margin: auto;
      width: 80px;
      height: 80px;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      
     
    }
    
    .profile-1 .photo img {
      width: 100%;
      border-radius: 50%;
      transition: all .2s ease-in-out 0s
    }
    
    .profile-1 .photo .social {
      top: 50%;
      left: 50%;
      width: 30px;
      z-index: 99;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      position: absolute;
      transform: scale(0);
      transition: all .4s ease-in-out 0s
    }
    
    .profile-1 .photo .social .soc-item {
      top: 0;
      left: 0;
      z-index: 19;
      width: 35px;
      height: 35px;
      color: #eee;
      font-size: 24px;
      transform: none;
      line-height: 35px;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      transition: all .3s cubic-bezier(.68, 1.55, .265, 1)
    }
    
    .profile-1 .photo .social .soc-item:hover {
      color: #fff
    }
    .profile-1 .photo:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      content: '';
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      background: rgba(0, 0, 0, .2);
      transition: all .3s ease-in-out 0s
    }
    
    
    .profile-1 .photo:hover .social,
    .profile-1 .photo:hover:after {
      transform: scale(1)
    }
    
    .profile-1 .photo:hover .social .soc-count-1 {
      transform: translate(0, -50px)
    }
    
    .profile-1 .photo:hover .social .soc-count-2 {
      transform: translate(-35px, -35px)
    }
    
    .profile-1 .photo:hover .social .soc-count-3 {
      transform: translate(-50px, 0)
    }
    
    .profile-1 .photo:hover .social .soc-count-4 {
      transform: translate(-35px, 35px)
    }
    
    .profile-1 .photo:hover .social .soc-count-5 {
      transform: translate(0, 50px)
    }
    
    .profile-1 .photo:hover .social .soc-count-6 {
      transform: translate(35px, 35px)
    }
    
    .profile-1 .photo:hover .social .soc-count-7 {
      transform: translate(50px, 0)
    }
    
    .profile-1 .photo:hover .social .soc-count-8 {
      transform: translate(35px, -35px)
    }
    
    
    .profile-1 .details .heading {
      padding: 5px;
      text-align: center;
      border-radius: 15px;
    }
    
    .profile-1 .details .heading>.name {
      font-size: 11px;
      font-weight: 400;
      padding-right: 5px
    }
    
    .profile-1 .details .heading>.position {
      font-size: 8px;
      padding-left: 5px;
      vertical-align: 1px;
      border-left: 1px solid
    }
    
    .profile-1 .details .text {
      margin: 0;
      color: rgb(224, 223, 223);
      top: -15px;
      position: relative;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      -webkit-animation-duration: .4s;
      animation-duration: .4s
    }
    .mob-mr{
      margin: 0;
    }
    .setting-list {
      margin-left: -15px;
      margin-right: -15px
    }
    
    .setting-list .gear {
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 400
    }
    
    .setting-list .gear:not(:last-child) {
      border-bottom: 1px solid rgba(170, 170, 170, .4)
    }
    
    .setting-list .gear>.action {
      color: #aaa
    }
    
    .setting-list .gear:nth-child(1) {
      -webkit-animation-duration: .1s;
      animation-duration: .1s
    }
    
    .setting-list .gear:nth-child(2) {
      -webkit-animation-duration: .2s;
      animation-duration: .2s
    }
    
    .setting-list .gear:nth-child(3) {
      -webkit-animation-duration: .3s;
      animation-duration: .3s
    }
    
    .setting-list .gear:nth-child(4) {
      -webkit-animation-duration: .4s;
      animation-duration: .4s
    }
    
    .setting-list .gear:nth-child(5) {
      -webkit-animation-duration: .5s;
      animation-duration: .5s
    }
    
    .setting-list .gear:nth-child(6) {
      -webkit-animation-duration: .6s;
      animation-duration: .6s
    }
    
    .credits .title {
      line-height: 24px;
      text-align: center
    }
    
    .credits .credit-ol {
      margin: 20px 0;
      counter-reset: credits
    }
    
    .credits .credit-li {
      line-height: 30px;
      position: relative;
      padding-left: 20px
    }
    
    .credits .credit-li:before {
      top: 0;
      left: 0;
      position: absolute;
      content: counter(credits);
      counter-increment: credits
    }
    
    .credits .credit-li:nth-child(1) {
      -webkit-animation-duration: .3s;
      animation-duration: .3s
    }
    
    .credits .credit-li:nth-child(2) {
      -webkit-animation-duration: .4s;
      animation-duration: .4s
    }
    
    .credits .credit-li:nth-child(3) {
      -webkit-animation-duration: .5s;
      animation-duration: .5s
    }
    
    .credits .credit-li:nth-child(4) {
      -webkit-animation-duration: .6s;
      animation-duration: .6s
    }
    
    .credits .credit-li:nth-child(5) {
      -webkit-animation-duration: .7s;
      animation-duration: .7s
    }
    
    .credits .credit-li:nth-child(6) {
      -webkit-animation-duration: .8s;
      animation-duration: .8s
    }
    
    .credits .credit-li a {
      color: inherit;
      text-decoration: none;
      padding: 1px 5px;
      border-radius: 13px;
      transition: all .6s ease-in-out 0s
    }
    
    .credits .credit-li:hover a {
      box-shadow: 150px 0 0 0 rgba(0, 0, 0, .4) inset
    }
    
    .credits .credit-li span {
      font-size: 13px
    }
    
    .credits .text {
      margin-top: 10px;
      line-height: 22px;
      text-align: center
    }
    
    .fo-mo{
      font-size: 10px;
      margin: 0;
    }
    .fmm{
      height: 15px;
      font-size: 8px;
      padding: 0;
    }
    .btn-1{
      padding: 4px;
      margin-top: 10px;
      border-radius: 10%;
    }
      /* ///////// mobile  @media /////////// */


      @media screen and (max-width: 585px) {
        *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
        }
        .brand-1 {
          font-size: 16px;
          line-height: 18px;
          float: left;
        
          color: #fff;
          width: 330px;
          height: 40px;
          text-align: left;
        }

        .chrome {
          position: relative;
        background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #e7efffd4;
        -webkit-text-stroke: 10px #777171;
          font-size: 25px;
          font-family: 'Titillium Web', sans-serif;
          font-style: italic;
          margin: 0;
          line-height: 1;
        }
        
        .chrome:before {
          content: 'Designing websites';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
          background-image: -webkit-linear-gradient( -78deg,#4d1e7bf7 21%,#f3f3f3 5%,#eaeaea 87%, #a891d0 64%,#6708f1 0%);
          background-position:-700px 0;
          -webkit-background-clip: text;
          -webkit-text-stroke: 0;
          padding-right: 109px;
          -webkit-animation-name: chrome_effect;
          -webkit-animation-duration: 6s;
          -webkit-animation-delay: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
        }

        .backgrund-1{
          background-image: none;
          background-size: 100% 120%;
          background-repeat: no-repeat;
          background-position-x: center;
         background-color: #4a4949;
       }
       p{
         font-size: 16px;
       }

       .card{
         margin: 52px 0 4px 0;
       }
       .img-lap{
        background-image: none;
        width: 0%;
        height: 0%;
        left: 20%;
        top: 20%;
      }
      #scbtn ul{
        left: 0%;
        transform: translate(-136%, 16%);
      }
      .fotr{
        margin-left: 2px;
      }
      .icone{
        margin: 0 !important; 
      }
      }